cachetools==6.0.0
certifi==2025.4.26
cgen==2020.1
charset-normalizer==3.4.2
checkpoint_schedules==1.0.4
codepy==2025.1
colorama==0.4.6
constantdict==2025.1.1
contourpy==1.3.2
cycler==0.12.1
Cython==3.1.2
decorator==4.4.2
distro==1.9.0
fenics-ufl==2025.2.0.dev0
firedrake==2025.5.0.dev0
firedrake-fiat==2025.4.0
fonttools==4.58.1
genpy==2022.1
h5py==3.13.0
hatchling==1.27.0
idna==3.10
immutabledict==4.2.1
iniconfig==2.1.0
islpy==2025.1.5
kiwisolver==1.4.8
libsupermesh==2025.3.0
loopy==2025.1
Mako==1.3.10
MarkupSafe==3.0.2
matplotlib==3.10.3
meson==1.8.2
meson-python==0.18.0
mpi-pytest==2025.5.0
mpi4py==4.0.3
mpmath==1.3.0
netgen-mesher==6.2.2501.post55.dev0
netgen_occt==7.8.1
netgen_occt_devel==7.8.1
ngsPETSc==0.1.0
numpy==2.2.6
packaging==25.0
pathspec==0.12.1
petsc4py==3.24.0.dev0
petsctools==2025.5.0.dev0
pillow==11.2.1
pip==23.1.2
pkgconfig==1.5.5
platformdirs==4.3.8
pluggy==1.6.0
progress==1.6
pyadjoint-ad==2025.4.0
pybind11==2.13.6
pybind11-stubgen==2.5.4
pycparser==2.22
pymbolic==2024.2.2
pyparsing==3.2.3
pyproject-metadata==0.9.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytools==2025.1.6
recursivenodes==0.2.0
requests==2.32.3
rtree==1.4.0
scikit-build==0.18.1
scipy==1.15.3
setuptools==80.9.0
siphash24==1.7
six==1.17.0
symengine==0.14.1
sympy==1.14.0
trove-classifiers==2025.5.9.12
typing_extensions==4.13.2
urllib3==2.4.0
vtk==9.4.2
wheel==0.45.1
